In [193]:
import pandas as pd
import numpy as np
df=pd.read_csv("combined.csv")

def convertToFloat(x):
    x=x.strip()
    if x=="-" or x=="NR" or x=='' or x=="." or x=="" or x==' ':
        return 0.01
    else:
        
        return float(x)

def convertToFloat2(x):
    x=x.strip()
    if x=="-" or x=="NR" or x=='' or x=="." or x=="" or x==' ':
        return 0
    else:
        
        return float(x)


df["rain"]=df["Rain"].apply(convertToFloat2)
import datetime
df["month"]=df["Date"].apply(lambda x:datetime.datetime.strptime(x,"%Y-%m-%d").month)
df["year"]=df["Date"].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").year)
df["day"]=df["Date"].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").day)




def SparseMeasure(x):
    if x ==1 or x==3:
        return 0
    elif x==2 or x==4 or x==12:
        return 1
    elif x==5 or x==6:
        return 2
    elif x==7 or x==10:
        return 3
    else: 
        return 4

def meandictfunc(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    meanval=meandict[daymonth]
    return meanval

def isRain2(x):
    if x>100:
        return 5
    if x>50:
        return 4
    if x>25:
        return 3
    if x>2:
        return 2
    elif x!=0:
        return 1
 
    else:
        return 0
def get_season(x):
    if x>=1 or x<=4:
        return 0
    elif x>=5 or x<=9:
        return 2
    elif x>9 or x<12:
        return 1
    else:
        return 0
def isSparse(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=meandict[daymonth]
    if val<1:
        return 0
    elif val>=1 or val<2.5:
        return 4
    elif val>=2.5 or val<4:
        return 8
    else:
        return 12

def lastseventh(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-7]
    if val==0:
        return 0
    else:
        return np.log(val)
    return val
def lastsixth(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-6]
    if val==0:
        return 0
    else:
        return np.log(val)
    return val
    
def lastfifth(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-5]
    if val==0:
        return 0
    else:
        return np.log(val)
    return val

 
def lastfourth(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-4]
    if val==0:
        return 0
    else:
        return np.log(val)
    return val

def lastthrid(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-3]
    if val==0:
        return 0
    else:
        return np.log(val)
    return val

def lastsecond(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-2]
    if val==0:
        return 0
    else:
        return np.log(val)
    return val

def lastfirst(row):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-1]
    if val==0:
        return 0
    else:
        return np.log(val)
    return val
def last(row,k):
    daymonth=str(row["day"])+"_"+str(row["month"])
    val=MonDay[daymonth][-k]
    final=isRain2(val)
    return final
    if val==0:
        return 0
  
    return val

In [194]:
df["is_rain"]=df["month"].apply(get_season)
# df["sparse1"]=df.apply(lastfirst,axis=1)
# df["sparse2"]=df.apply(lastsecond,axis=1)
# df["sparse3"]=df.apply(lastthrid,axis=1)
# df["sparse4"]=df.apply(lastfourth,axis=1)
# df["sparse5"]=df.apply(lastfifth,axis=1)
# df["sparse6"]=df.apply(lastsixth,axis=1)
# df["sparse7"]=df.apply(lastseventh,axis=1)
for i in range(1,9):
    sparse="sparse"+str(i)
    df[sparse]=df.apply(last,k=i,axis=1)
# df["sparse"]=df.apply(isSparse,axis=1)

In [186]:
min(df["sparse8"])

0

In [140]:
df["new2"]=df.apply(meandictfunc,axis=1)
# df["rain"]=df["rain"].apply(lambda x: np.log(x))
# df["year"]=df["year"].apply(lambda x: np.log(x))
# df["new2"].apply(lambda x: np.log(x))
# df["new"]=df["month"].apply(SparseMeasure)

In [195]:
dummydf=pd.get_dummies(df[["District","rain","month","day","year","sparse1","sparse2","sparse3","sparse4","sparse5","sparse6","sparse7","sparse8"]])
# dummydf=pd.get_dummies(df[["District","rain","month","day","year"]])

In [196]:
y=dummydf.pop("rain")
x=dummydf

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
X_train, X_test, y_train, y_test = train_test_split(x , y, test_size=0.33, random_state=42)

In [217]:
import xgboost as xg
xgb_r = xg.XGBRegressor(objective ='reg:squarederror',    
                  n_estimators =5, seed = 123,max_depth=20,eta=0.3)
   
# Fitting the model
xgb_r.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, eta=0.3, gamma=0,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=20,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=5, n_jobs=12, num_parallel_tree=1, random_state=123,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [221]:
from sklearn.metrics import mean_absolute_error
pred=xgb_r.predict(X_test)
predtrain=xgb_r.predict(X_train)
for i in range(len(pred)):
    if pred[i]<=1:
        pred[i]=0
for i in range(len(predtrain)):
    if predtrain[i]<=1:
        predtrain[i]=0
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train,predtrain)
mean_squared_error(y_test,pred) 
 mean_absolute_error(y_test,pred)

C:\Users\om purohit\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

2.338045029785337

In [174]:
d={"orig":y_test,"pred_test":pred}
preddf=pd.DataFrame(d)


preddf

       orig  pred_test
35844   0.0   0.000000
18346   0.0   0.000000
8140   56.0   1.694509
43290   0.0   0.000000
40376   0.0   0.000000
...     ...        ...
1274    0.0   0.000000
13166   0.0   0.000000
45618   0.0   0.000000
44814   0.0   0.000000
12538   7.0  16.208780

[15277 rows x 2 columns]

In [175]:
mean_absolute_error(preddf["orig"],preddf["pred_test"])

2.7467226615210842

In [9]:
yearlist=df.year.unique()
MonDay={}
for year in yearlist:
    yeardf=df[df.year==year]
    for frame,row in df.iterrows():
        monthday=str(row["day"])+"_"+str(row["month"])
        if monthday not in MonDay.keys():
            MonDay[monthday]=[]
        
        MonDay[monthday].append(row["rain"])

meandict={}
for key in MonDay.keys():
    themean=np.mean(np.array(MonDay[key]))
    if themean==0.0:
        meandict[key]=themean
    else:
        meandict[key]=themean

In [13]:
meandict["4_1"]

0.0288

In [191]:
X_test

,month,day,year,is_rain,sparse1,sparse2,sparse3,sparse4,sparse5,sparse6,...,District_Melalathur,District_Natrampalli,District_Ponnai,District_Sholingur,District_TCS Mill,District_Tirupattur,District_VCS Mill,District_Vaniyambadi,District_Vellore,District_Wallajah
35844,3,29,2018,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18346,4,1,2014,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8140,12,3,2011,0,2,0,0,2,0,2,...,0,0,0,0,0,0,0,0,0,0
43290,7,18,2019,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40376,2,6,2019,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274,4,26,2010,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13166,1,25,2013,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45618,11,24,2019,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
44814,10,10,2019,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12538,12,3,2012,0,2,0,0,2,0,2,...,0,0,0,0,0,1,0,0,0,0

In [192]:
!pip install pystan==2.19.1.1
!pip install prophet

Requirement already satisfied: pystan==2.19.1.1 in c:\users\om purohit\anaconda3\lib\site-packages (2.19.1.1)
Requirement already satisfied: Cython!=0.25.1,>=0.22 in c:\users\om purohit\anaconda3\lib\site-packages (from pystan==2.19.1.1) (0.29.21)
Requirement already satisfied: numpy>=1.7 in c:\users\om purohit\anaconda3\lib\site-packages (from pystan==2.19.1.1) (1.18.5)
^C

In [206]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
predreg=reg.predict(X_test)
mean_absolute_error(y_test,predreg)
mean_squared_error(y_test,predreg)

70.63919713812233

In [182]:
from sklearn.svm import LinearSVR
eps = 5
svr = LinearSVR(epsilon=eps, C=0.1,)
svr.fit(X_train,y_train)
predsvr=svr.predict(X_test)
for i in range(len(predsvr)):
    if predsvr[i]<1:
        predsvr[i]=0
mean_absolute_error(y_test,predsvr)

C:\Users\om purohit\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

5.279284447484633